{# Extend from base.html #}
{% extends "admin/base.html" %}

{# Set Page title #}
{% block title %}Bewerk - {{ page.title }}{% endblock %}

{# Content #}
{% block content %}

    {% if page.pk %}
    <form id="page-form" data-id="{{ page.pk }}" action="/admin/edit/{{ page.pk }}" method="post">
    {% else %}
    <form action="/admin/new" method="post">
    {% endif %}

        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="row-fluid">


            <div class="span9">

                <div class="field-row">
                    {{ form.title.errors }}
                    {{ form.title }}
                </div>

                <div class="field-row">
                    {{ form.text.errors }}
                    {{ form.text }}
                </div>

            </div>

            <div class="span3">

                <div class="field-row">
                    {% if page.published == 1 %}
                        <a href="test" class="publish-button button button-green button-pressed">
                            <span class="icon icon-eye"></span>
                            Gepubliceerd
                        </a>
                    {% else %}
                        <a href="test" class="publish-button button button-green">
                            <span class="icon icon-eye"></span>
                            Publiceer
                        </a>
                    {% endif %}
                </div>

                <div class="field-row">
                    {{ form.parent.errors }}
                    <label for="id_parent">Gekoppeld aan</label>
                    {{ form.parent }}
                </div>

                <div class="field-row">
                    {{ form.date_added.errors }}
                    <label for="id_date_added">Aangemaakt op</label>
                    {{ form.date_added }}
                </div>

                <div class="field-row">
                    {{ form.date_modified.errors }}
                    <label for="id_date_modified">Laatst bewerkt</label>
                    {{ form.date_modified }}
                </div>

                <input type="submit" value="Opslaan" class="button button-blue" />

            </div>

        </div>

    </form>

    <script src="{{ STATIC_URL }}js/page.js"></script>

{% endblock %}