<!doctype html>

    {# IE shizzle #}
    <!--[if lt IE 9]><html class="ie"><![endif]-->
    <!--[if gte IE 9]><!--><html><!--<![endif]-->

    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        {# Title #}
        <title>{% block title %}Admin{% endblock %}</title>

        {# Stylesheets #}
        <link href="{{ STATIC_URL }}admin/css/style.css" rel="stylesheet" type="text/css" />

        {# Javascript #}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="{{ STATIC_URL }}admin/js/script.js"></script>

        <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

    </head>

    <body lang="en">

        <header>
            <div class="container">
                <h1>Admin</h1>
            </div>
        </header>

        {# Content goes here #}
        <div id="content" class="container">

            <div class="row-fluid">

                {# Recursive menu #}
                <div class="span3">
                    <h2>Pages</h2>
                    <ul id="page-tree">
                        {% for page in root_pages %}
                            {% for branch, obj in page.as_tree %}
                                {% if obj %}
                                    <li>
                                        <a href="/admin/edit/{{ obj.id }}">{{ obj.title }}</a>
                                        {% if branch %}
                                            <ul>
                                                {% else %}
                                            </li>
                                        {% endif %}
                                {% else %}
                                    {% if branch %}
                                        </ul>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>

                {# Right Column #}
                <div class="span9">
                    {% block content %}
                    {% endblock content %}
                </div>

            </div>

        </div>

    </body>

</html>

