<!doctype html>

    {# IE shizzle #}
    <!--[if lt IE 9]><html class="ie"><![endif]-->
    <!--[if gte IE 9]><!--><html><!--<![endif]-->

    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        {# Title #}
        <title>{% block title %}Admin{% endblock %}</title>

        {# Favicon #}
        <link rel="icon" type="image/png" href="{{ STATIC_URL }}admin/favicon.ico">

        {# Stylesheets #}
        <link href="{{ STATIC_URL }}admin/css/style.css" rel="stylesheet" type="text/css" />

        {# Javascript #}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="{{ STATIC_URL }}admin/js/script.js"></script>

        <!-- Generic page styles -->
        <link rel="stylesheet" href="{{ STATIC_URL }}admin/css/style.css">
        <!-- Bootstrap styles for responsive website layout, supporting different screen sizes -->
        <link rel="stylesheet" href="{{ STATIC_URL }}admin/css/bootstrap-responsive.min.css">
        <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
        <link rel="stylesheet" href="{{ STATIC_URL }}admin/css/bootstrap-image-gallery.min.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}admin/css/jquery.fileupload-ui.css">
        <!-- Shim to make HTML5 elements usable in older Internet Explorer versions -->
        <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

    </head>

    <body lang="en">

        <header>
            <div class="container">
                <div class="row-fluid">
                    <div class="span10">
                        <ul id="options">
                            <li>
                                <a href="/admin" title="Admin home" class="button button-black">
                                    <span class="icon delete">H</span>
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="/admin/media" title="Media" class="button button-black">
                                    <span class="icon delete">P</span>
                                    Media
                                </a>
                            </li>
                            <li>
                                <a href="/admin/settings" title="Settings" class="button button-black">
                                    <span class="icon delete">y</span>
                                    Instellingen
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="span2">
                        <ul id="logout">
                            <li>
                                <a href="/admin/logout" title="Logout" class="button button-red">
                                    <span class="icon delete">Q</span>
                                    Afmelden
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>

        {# Content goes here #}
        <div id="content" class="container">

            {# Messages #}
            <div class="row-fluid">
                <ul class="messages">
                {% if messages %}
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                {% endif %}
                </ul>
            </div>

            {# Content #}
            <div class="row-fluid">
                {% block content %}
                {% endblock content %}
            </div>

        </div>

    </body>

</html>

