{# Extend from base.html #}
{% extends "admin/base.html" %}

{# Set Page title #}
{% block title %}Bewerk - {{ page.title }}{% endblock %}

{# Content #}
{% block content %}

    <h2>Bewerk</h2>

    {% if page.id %}
    <form id="{{ page.id }}" action="/admin/edit/{{ page.id }}" method="post">
    {% else %}
    <form action="/admin/new" method="post">
    {% endif %}

        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="row-fluid">


            <div class="span9">

                <div class="field-row">
                    {{ form.title.errors }}
                    {{ form.title }}
                </div>

                <div class="field-row">
                    {{ form.text.errors }}
                    {{ form.text }}
                </div>

            </div>

            <div class="span3">

                <div class="field-row">
                    <a href="test" class="button button-green
                        {% if page.published == 1 %}
                            button-pressed">
                        <span class="icon delete">3</span>
                        Gepubliceerd
                    {% else %}
                        ">
                        <span class="icon delete">E</span>
                        Publiceer
                    {% endif %}
                    </a>
                </div>

                <div class="field-row">
                    {{ form.parent.errors }}
                    <label for="id_parent">Gekoppeld aan</label>
                    {{ form.parent }}
                </div>

                <div class="field-row">
                    {{ form.date_added.errors }}
                    <label for="id_date_added">Aangemaakt op</label>
                    {{ form.date_added }}
                </div>

                <div class="field-row">
                    {{ form.date_modified.errors }}
                    <label for="id_date_modified">Laatst bewerkt</label>
                    {{ form.date_modified }}
                </div>

                <input type="submit" value="Opslaan" class="button button-blue" />

            </div>

        </div>

    </form>

{% endblock %}
